.flex-row-c {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-column-c {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(max-content, auto);
  width: 100%;
  grid-template-areas: "a" "b" "c" "d";
  align-items: flex-start;
}
@media (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(max-content, auto);
    width: 100%;
    grid-template-areas: "a b" "a b" "a c" "a c" "a d" "a d";
    align-items: flex-start;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  color: white;
  font-size: 3rem;
  line-height: 3rem;
}
h2 {
  color: white;
  font-size: 3rem;
  line-height: 4rem;
}
h3 {
  color: #4a3695;
  font-size: 4rem;
  font-weight: 800;
  line-height: 4rem;
}
h4 {
  color: #4a3695;
  font-size: 2.2rem;
}
h5 {
  color: black;
  font-size: 1.7rem;
  padding-top: 15px;
}
p {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 10px;
}
a {
  color: #333333;
  font-size: 1.5rem;
  transition: 500ms;
  line-height: 2rem;
}
a:hover {
  color: crimson;
}
strong {
  font-size: inherit;
  font-weight: 700;
}
.container > * {
  max-width: 1200px;
}
header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4a3695;
  padding: 0px 0px;
}
header .logo img {
  height: 75px;
  margin-right: 15px;
}
@media (min-width: 600px) {
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #4a3695;
    padding: 0px 20px;
  }
}
.hero {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('https://bit.ly/2VwLrom');
  background-size: cover;
}
.hero-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.hero-content p {
  margin-top: 3rem;
}
.steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F8F8F8;
  padding: 15px;
}
.steps-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.steps-content .icon-group {
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.steps-content .icon-group .icon {
  margin-bottom: 20px;
}
.steps-content .icon-group .icon .far,
.steps-content .icon-group .icon .fab,
.steps-content .icon-group .icon .fas {
  font-size: 130px;
  color: #333333;
}
.steps-content .icon-group .icon-group-content {
  height: 90px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.steps-content .icon-group .icon-group-content h3 {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
.steps-content .icon-group .icon-group-content p {
  color: black;
  font-size: 1.4rem;
}
.fonts {
  box-shadow: 0px 0px 10px 10px #F8F8F8;
  max-width: 100%;
}
.card-container {
  width: 100%;
  max-width: 1200px;
  padding: 30px 0px;
}
.card-container .section-divider {
  text-align: center;
  padding: 15px 0px;
}
.card-container .collect-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(max-content, auto);
  width: 100%;
  grid-template-areas: "a" "b" "c" "d";
  align-items: flex-start;
}
@media (min-width: 600px) {
  .card-container .collect-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(max-content, auto);
    width: 100%;
    grid-template-areas: "a b" "a b" "a c" "a c" "a d" "a d";
    align-items: flex-start;
  }
}
.card-container .card {
  margin: 15px;
  padding: 15px 5px;
  border-top: 1px solid black;
}
.card-container .card:nth-child(1) {
  grid-area: a;
}
.card-container .card:nth-child(2) {
  grid-area: b;
}
.card-container .card:nth-child(3) {
  grid-area: c;
}
.card-container .card:nth-child(4) {
  grid-area: d;
}
.card-container .card .card-content p {
  color: black;
  font-size: 1.5rem;
}
.card-container .card .card-content .img-files {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('https://bit.ly/2WNEnFt');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-container .card .card-content .img-fonts {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('https://bit.ly/2QjAUvJ');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-container .card .card-content .img-colors {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url('https://images.unsplash.com/photo-1500042600524-37ecb686c775?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-container .card .card-content-permission {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}
.card-container .card .card-content-permission .warning {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 20%;
}
.card-container .card .card-content-permission .warning .icon {
  color: orangered;
  font-size: 80px;
}
.card-container .card .card-content-permission .content {
  width: 75%;
}
.card-container .card .card-content-permission p {
  color: black;
  font-size: 1.5rem;
}
