a {
    text-decoration: none;
    color: @black;
}

h1 {
    .custom-font(white, 3rem);
    line-height: 3rem;
}

h2 {
    .custom-font(white, 3rem);
    line-height: 4rem;
}

h3 {
    .custom-font(@primary, 2.2rem);
    line-height: 4rem;
}

p {
    .custom-font(white, 1.5rem);
    line-height: 2rem;
}