@import 'variables.less';

.flex-row-c {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-column-c {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.custom-font(@color, @font-size){
    color: @color;
    font-size: @font-size;
}

.flex(@flow: row wrap, @justify: center, @center: center){
    display: flex;
    flex-flow: @flow;
    justify-content: @justify;
    align-items: @center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(max-content, auto);
    width: 100%;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    align-items: flex-start;

    @media @tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(max-content, auto);
        width: 100%;
        grid-template-areas:
        "a b"
        "a b"
        "a c"
        "a c"
        "a d"
        "a d";
        align-items: flex-start;
    }
}

.grid(@grid-area){
    grid-area: @grid-area;
    
}