//Hero
.hero {
    width: 100%;
    .flex();
    height: 500px;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('https://bit.ly/2VwLrom');
    background-size: cover;

}

.hero-content {
    .flex(column, space-between);
    width: 90%;
    height: 100px;

    p {
        margin-top: 3rem;
    }
}
//End Hero


// Step Section
.steps {
    .flex(row wrap);
    width: 100%;
    background-color: @grey;

}
.steps-content{
    .flex(row wrap, space-around, center);
    width: 100%;
    // background-color: @test-content;


    .icon-group {
        width: 300px;
        .flex(column);
        margin: 20px;
    
    .icon {
        margin-bottom: 20px;

        .far, .fab, .fas{
            font-size: 130px;
            color: @darkgrey;
        }
    }
    .icon-group-content{
        height: 90px;
        .flex(column, space-between);

        h3{
            .custom-font(@black, 2rem);
            font-weight: bolder;
            text-align: center;
        }

        p{
            .custom-font(@black, 1.4rem)
        }
    }
}
}

// End Step Section

// Testing Card Layout

.fonts {
    box-shadow: 0px 0px 10px 10px @grey;
}
.card-container{
    width: 100%;
    // background-color: @test-container;
    padding: 30px 0px;

    .section-divider{
        text-align: center;
        padding: 15px 0px;
    }


    .collect-cards{
        .flex(row wrap);
    }

    .card {
        width: 500px;
        .flex();
        // background-color: @test-content;
        margin: 15px;
        padding: 15px 5px;
        border-top: 1px solid black;

        .card-content{
        
            p {
                .custom-font(@black, 1.5rem);
            }
    
            .img {
                width: 100%;
                height: 220px;
                background-image: linear-gradient(0deg,rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url('https://bit.ly/2WNEnFt');
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }

        .card-content-permission{
            .flex(row, space-between, flex-start);
        
            .warning {
                .flex();
                height: 140px;
                width: 20%;
                
                .icon{
                    .custom-font(@primary, 80px);
                }

            }

            .content {
                width: 80%;
            }

            p {
                .custom-font(@black, 1.5rem);
            }

        }
    }

    .card-half {
        width: 500px;
        // background-color: @test-content;
        margin: 15px;
        padding: 15px 5px;
        border-top: 1px solid black;
    }

        .card-content-resources {
            .flex(column, flex-start, flex-start);
            width: 100%;

            ul{
                width: 100%;

                }

                
            }
}
    



